@tailwind base;
@tailwind components;
@tailwind utilities;

.bw-to-color:hover {
  filter: grayscale(0%);
}

.bw-to-color {
  filter: grayscale(100%);
}

/* Sliding Text */
.sliding-text-container {
  width: 100%;
  text-transform: uppercase;
  position: relative;
  font-family: "Roboto", sans-serif;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

/* Initially hide the big text */
.big-text {
  display: inline-block;
  font-size: 100px;
  color: blanchedalmond; /* Adjust the color as needed */
  text-decoration-line: underline;

  z-index: 0;
  font-weight: 900;
  opacity: 0; /* Make text initially invisible */
  transition: transform 1s ease-out, opacity 1s ease-out; /* Smooth transition */
}

/* Small text stays in place */
.small-text {
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* On hover, reveal the big text and animate it */
.sliding-text-container:hover .big-text {
  transform: translateX(0); /* Move text into the container */
  opacity: 1; /* Make text visible */
  animation: marquee 10s linear infinite; /* Trigger the sliding animation */
}

/* Marquee effect with a pause in the middle */
@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start from the right side (out of view) */
  }
  40% {
    transform: translateX(0); /* Move to the left, but hold the first 'ABOUT' */
  }
  60% {
    transform: translateX(
      0
    ); /* Hold the second 'ABOUT' in place for a moment (pause effect) */
  }
  100% {
    transform: translateX(-100%); /* Move to the left side (out of view) */
  }
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.transform-rotateY-180 {
  transform: rotateY(180deg); 
}

.hollow-text {
  font-size: 2rem; 
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px black; 
  text-align: center; 
}

.hollow-text-porto {
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px white; 
  text-align: center; 
}

@keyframes border-slide {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.animate-border-slide {
  animation: border-slide 0.5s ease-in-out forwards;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(90deg,  #6b21a8, #8B5DFF, #BFECFF);
  background-size: 200% 200%;
  animation: gradientShift 3s ease-in-out forwards;
}

@keyframes gradientShiftReverse {
  0% {
    background-position: 100% 50%; 
  }
  100% {
    background-position: 0% 50%; 
  }
}

.animated-gradient-reverse {
  background: linear-gradient(90deg, #6b21a8, #8B5DFF, #BFECFF);
  background-size: 200% 200%;
  animation: gradientShiftReverse 3s ease-in-out forwards; /* Menggunakan animasi reverse */
}








